.back-color-1 {
  background-color: rgb(23, 150, 221);
  box-shadow: 0 0 15px rgb(23,150,221);
  opacity: .6;
}
.back-color-2 {
  background-color: rgb(221,150,23);
  box-shadow: 0 0 15px rgb(221,150,23);
  opacity: .6;
}
.color-1 {
  color: rgb(23, 150, 221);
  text-shadow: 0 0 15px rgb(23,150,221);
}
.color-2 {
  color: rgb(221,150,23);
  text-shadow: 0 0 15px rgb(221,150,23);
}
